

@font-face{
    font-family: "Puvi_Regular";
    font-display: swap;
    src: url("/fonts/Zoho\ Puvi\ Regular.otf");
}


@font-face{
    font-family: "Puvi_Bold";
    font-display: swap;
    src: url("/fonts/Zoho\ Puvi\ Bold.otf");
}



@font-face{
    font-family: "Puvi_Medium";
    font-display: swap;
    src: url("/fonts/Zoho\ Puvi\ Medium.otf");
}