
/* hero-sec */
.hero-section{
    height: 600px; 
    background: url(../images/bg-1.png);
    background-size:cover;
    background-position:center;
}

/* //hero-sec */

/* about-sec */
.about-section{
    padding-block: 100px;
}
.about-container{
    width: 100%;
    display: flex;
    gap: 10px;

}
.about-img{
    max-width:100%;
}
:where(.about-fig,.about-content){
    width: 50%;
    padding-inline: 15px;
}
.progress-dot{
    width: 80px;
    height: 5px;
    position: relative;
    background-color: var(--c-lavender);
    border-radius: var(--br-radius-sm);
    margin-bottom: 25px;
}
.progress-dot::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: -3px;
    background-color: var(--c-primary);
    border-radius: var(--br-radius-full);
    animation: var(--move-dot);
}
.about-icon-bg{
    width: 70px;
    height: 70px;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: var(--br-radius-sm);
    background-color: var(--c-primary);
}
/* ///about-sec */



/* service-fea */
.service-fea{
    height: 600px;
    background: url(../images/bg2.jpg);
    background-size:cover;
    padding-block:100px;
}
.video-link{
    display:flex;
    height: 75px;
    width: 75px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--c-primary);
    border-radius: var(--br-radius-full);
    background-color: var(--c-white);
    animation: var(--ripple);
}

.flip-container {
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 140px;

}
.flip-box{
    width: 33.33%;
    perspective: 1000px;
}
.flip-card{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: var(--eight-sec);
}
.front-card,.back-card{
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: var(--br-radius-sm);
    backface-visibility: hidden;

}
.front-card{
    background-color: var(--c-primary);
    transform: rotateY(0deg);
    padding: 40px 0;
}

.back-card{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    background-color: var(--c-white);
    box-shadow: 0 0 25px 15px var(--c-shadow-grey);
}

.flip-box:hover .flip-card{
    transform: rotateY(180deg);
}
.flip-card .card-icon{
    color: var(--c-white);
    padding: 24px;
    font-size: 30px;
}
/* ///service-fea */



/* service-sec */
.service-section{
    padding-block: 100px;
    margin-top: 150px;
}
.product-boxs{
    width: 100%;
    display: flex;
    gap: 20px;
}
.product-box{
    width: 33.33%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
    border-bottom:2px solid var(--c-primary);
    border-radius: var(--br-radius-sm);
}

.product-img-container{
    position: relative;
    width: 100%;
}

.product-img{
    width:100%; 
    border-top-left-radius: var(--br-radius-sm);
    border-top-right-radius: var(--br-radius-sm);
}

.icon{
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--c-white);
    background-color: var(--c-primary);
    border-radius: var(--br-radius-sm);
    position: absolute;
    bottom: -36px;
    left: 20px;
}
.product-content{
    padding: 20px;

}
/* ///service-sec */



/* conatct-sec */
.contact-section{
    background: url(../images/bg-3bg.jpg);
    background-size:cover;
    padding-top: 100px;
}
.Contact-container{
    width: 100%;
    display: flex;
    gap:50px;
    justify-content:space-between

}
.contact-img-container{
    width: 50%;
}
.contact-content{
    width: 50%;
    padding-top: 120px;
}
.contact-img{
    display: block;
    width:100%;
    object-fit: cover;
}
 /*/// contact-sec */



/* feautures-sec */
.features-section{
    padding-block: 100px;
}
.slide-boxs{
    width: 100%;
    display: flex;
}

.slide{
    width: 33.33%;
    position: relative;
}
.feautures-img-cont{
    overflow: hidden;
}

.feautures-img{
    width: 100%;
    display: block;
    transition: var(--slow-trans);
}

.slide-item{
    position: relative;
}
.slide-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    transition: var(--slow-trans);
    background-color: var(--c-light-blue);
    opacity: 0;
    z-index: 10;
}

.slide-content{
    position: absolute;
    width: 80%;
    top: 70%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    padding: 20px 10px;
    transform: translateY(-50%);
    transition: var(--slow-trans);
    background-color: var(--c-white);
    border-radius: var(--br-radius-sm);
    opacity: 0;
    z-index: 10;
}
.slide:hover .slide-item::before {
    opacity: 1;
}
.slide:hover .slide-content{
    top: 50%;
    opacity:1;
}
.slide:hover .feautures-img{
    transform: scale(1.01);
}
/* //feautures-sec */


/* team-sec */

.team-section{
    padding-block: 100px;
}
.member-cards{
    width: 100%;
    display: flex;
    gap: 30px;

}
.member-card{
    width: 25%;
    position: relative;

}
.member-img{
    display: block;
    width: 100%;
}

.member-card::before {
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--c-primary);
    transition: var(--slow-trans);
    z-index: -1;
}
.member-card::after {
    content:"";
    width: 100%;
    height: 60px;
    position: absolute;
    transform: skewY(10deg);
    transform-origin: top left;
    background-color: var(--c-white);
    left: 0;
    bottom: -3%;
}
.member-content {
    position: absolute;
    bottom: 0;
    left: 20px;
    padding: 10px 0 10px 30px ;
    color: var(--c-white);
    z-index: 1;

}
.member-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    transform: skew(-30deg);
    transition: var(--slow-trans);
    background-color: var(--c-primary);
    z-index: -1;
}
.member-role{
    position: absolute;
    top: 40px;
    transition: var(--slow-trans);
}
.member-icon{
    display: flex;
    gap: 30px;
}
.member-icon-link{
    display: inline-block;
    color: var(--c-white);
    top: 70px;
    opacity: 0;
    position: absolute;
    transition: var(--slow-trans);
}
.member-card:hover::before{
    transform: rotate(-10deg);
}
.member-card:hover .member-role{
    top: 20px;
    opacity: 0;
}
.member-card:hover .member-icon-link{
    top: 40px;
    opacity: 1;
}
/* //team-sec */



/* testimonial-sec */

.testimonial-section{
    padding-block: 100px;
    background: url(../images/sec-8\,bg.jpg);
    background-size:cover
}
.testimonial-cards{
    width: 100%;
}
.testimonial-card{
    width: 33.33%;
}
.testimonial-content{
    position: relative;
    padding: 20px 10px;
    background-color: var(--c-white);
    margin-bottom: 15px;
}
.testimonial-desc{
    color: var(--c-black);
    line-height: 1.8;

}
.testimonial-img{
    width: 100%;
    object-fit: cover;
    border-radius: var(--br-radius-full);
}

.testimonial-content::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    bottom: -20px;
    border: 15px solid;
    border-color: var(--c-white) transparent transparent var(--c-white);
}
/* ///testimonial */


/* footer-sec */
.footer-container{
    color: var(--c-white);
    line-height: 1.8;
    padding-top: 100px;
    background-color: var(--c-navy);
    margin-top: 100px;
}
.footer-cols{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.footer-col{
    width: 25%;
}
.footer-icon-link{
    display: inline-block;
    color: var(--c-white);
}
.service-link{
    display: inline-block;
    color: var(--c-white);
    position: relative;

}

.tiktok-collection{
    border-bottom:1px solid var(--c-grey-55);
    padding: 10px 0;
}
.f-img{
    width: 80px;
    height: 80px;
}
.Popular-post{
    color: var(--c-white);
    transition: var(--default-trans);
}
.Popular-post:hover{
    color: var(--c-primary);
}

.footer-information{
    padding: 15px 0;
    margin-top: 70px;
    border-top:1px solid var(--c-grey-55);
}

/* ///footer-sec */