


@media only screen and (max-width:768px) {
    .header-secondary,.nav-btn{
        display: none;
    }
    .logo-container{
     margin: 0 auto;
    }
    .nav-link{
        color: var(--c-white);
    }
    
    .menu-btn{
        display: block;
    }
    .close-btn{
        display: block;
        color: var(--c-white);
    }

    .menu-nav-container {
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0px;
        visibility:hidden;
        transition: var(--default-trans);
    }
        
    .header-primary.show-header .menu-nav-container {
        visibility: visible;
        background-color: #57575778;
    }
                
    .header-primary .menu-nav-pop {
        display: flex;
        width: 210px;
        height: 100%;
        padding: 40px 20px;
        position: fixed;
        background-color: black;
        top: 0;
        left: -200px;
        z-index: 3;
        transition: var(--default-trans);
    }
    .header-primary.show-header .menu-nav-pop {
        left: 0px;
    }
    
    .header-primary .nav-lists {
    flex-direction: column;
    align-items: start;
    }


    .service-fea{
        margin-bottom: 800px;
    }
    .about-section{
        margin-top: 90px;
    }
    .about-container{
        flex-wrap: wrap;
    
    }
    :where(.about-fig,.about-content){
        width: 100%;
    }

    
    .flip-container{
        flex-wrap: wrap;
    
    }
    .flip-box{
        width: 100%;
    }

    .product-boxs{
        flex-wrap: wrap;
    }
    .product-box{
        width: 100%;
    }

    .slide-boxs{
        flex-wrap: wrap;
    }
    .slide{
        width: 100%;
    }
    .typo-team{
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .member-cards{
        flex-wrap: wrap;
    }
    .member-card{
        width: 100%;
    }

    .progress-dot{
        display: none;
    }
    .testimonial-cards{
        flex-wrap: wrap;
    }
    .testimonial-card{
        width: 100%;
        border: 1px solid var(--c-black);
    }
    .footer-cols{
        flex-wrap: wrap;
    }
    .footer-col{
        width:50%;
    }
}

@media only screen and (max-width:480px) {
    .heading-primary{
        font-size: 22px;
    }
    .heading-secondary{
        font-size: 22px;
    }
    .heading-secondary-sm{
        font-size: 22px;
    }
    .default-tittle{
        font-size:18px;
    }
    .default-tittle-white{
        font-size:18px;
    }
    .footer-col-tittle{
        font-size: 20px;
    }
    .about-section{
        margin-top: 90px;
    }
    .about-content{
        width: 100%;
    }
    .about-fig{
        width: 100%;
    }
    .flip-box{
        width: 100%;
        padding: 0 10px;
    }
    .product-box{
        width: 100%;
        padding: 0 10px;
    }
    .slide{
        width: 100%;
        padding: 0 10px;
    }
    .member-card{
        width:100%;
        
    }
    .testimonial-card{
        width: 100%;
        padding: 0 10px;
    }
    .footer-col{
        width:100%;
        padding: 0 10px;
    }
}

